
.activity {
    margin-top: 24px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.06);
    margin-bottom: 15px;
}

.activity_header {
    padding: 16px 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.header_title {
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.85);
}

.activity_content {
    padding: 24px 24px;
}

.activity_row {
    padding: 12px 0;
    display: flex;
    flex-direction: column;
}

.row_title {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.85);
    margin-bottom: 4px;
}

.row_time {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.45);
}