
.content {
    overflow-y: scroll;
    padding: 26px 24px;
}

@media screen and (max-width: 992px) {
    .content {
        padding: 13px 12px;
    }
}

@media screen and (max-width: 768px) {
    .content {
        padding: 0px 6px;
    }
}

@media screen and (max-width: 768px) {
   .ant-layout-sider {
       width: 50px;
       min-width: 50px;
       max-width: 50px;
   }
}