.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #001529;
    box-shadow: inset 0px -1px 0px #F0F0F0;
    padding: 10px 16px;
}

.logo_text {
    font-size: 11px;
    line-height: 11px;
    letter-spacing: .5px;
    font-weight: 400;
    width: 120px;
    word-break: break-word;
    color: rgba(255, 255, 255, 0.85);
    padding: 3px 0;
    margin-left: 10px;
}

.logo_wrapper {
    display: flex;
}

.user_text {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: white;
}